<template name="recoverPassword">
  <div class="col mt-4 h-100">
    <div class="container" style="width: 50%">
      <div class="card text-center">
        <div class="card-header">
          <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
            Recover Password</h1>
        </div>
        <div class="card-body">
          <form class="form-recoverPassword">
            <div class="form-group">
              <input type="text" class="form-control" id="recoverPasswordEmail" placeholder="Your Email *" value="" />
            </div>
            <button class="btn btn-success " id="recoverPasswordButton" type="submit"><i class="fas fa-sign-in-alt"></i>
              Send</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>